<div *ngIf="discipline">
    <h2>Problem {{discipline.name}} details</h2>
    <div>
        <label>Name: </label> {{discipline.name}}
        <input [(ngModel)]="discipline.name" placeholder="name">
    </div>
    <div>
        <label>Teacher: </label> {{discipline.teacher}}
        <input [(ngModel)]="discipline.teacher" placeholder="teacher">
    </div>
    <div>
        <label>Number: </label> {{discipline.credits}}
        <input [(ngModel)]="discipline.credits" placeholder="credits">
    </div>
    <button (click)="goBack()">Back</button>
    <button class="save" (click)="save()">Save</button>
</div>