<h3>Add Discipline</h3>


<div>
    <label>Name: </label>
    <input #disciplineName>
</div>
<div>
    <label>Teacher: </label>
    <input #disciplineTeacher >
</div>
<div>
    <label>Number: </label>
    <input #disciplineCredits >
</div>
<div>
    <button (click)="goBack()">Back</button>
    <button (click)="save(disciplineName.value, disciplineTeacher.value, disciplineCredits.value)">Save</button>
</div>