<div *ngIf="selectedDiscipline">
    <h2>
        {{selectedDiscipline.name | uppercase}} was selected
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Problems</h2>
<ol class="disciplines">
    <li *ngFor="let discipline of disciplines "
        [class.selected]="discipline === selectedDiscipline"
        (click)="onSelect(discipline)">
        {{discipline.name}}
        <button class="delete"
                (click)="delete(discipline); $event.stopPropagation()">x</button>
    </li>
</ol>

