<h2>Problem Assignment</h2>
<div>
    <label>Serial number:</label>
    <input #serialNumber>
</div>
<div>
    <button (click)="goBack()">Back</button>
    <button (click)="loadDisciplines(serialNumber.value)">Next</button>
</div>

<div *ngIf="showDisciplines">
    <div>
        <h3>Selected problems (click to remove):</h3>
        <ol>
            <li *ngFor="let discipline of selectedDisciplines"
                (click)="removeSelectedDiscipline(discipline)">
                {{discipline.name}}
            </li>
        </ol>
    </div>
</div>

<div *ngIf="showDisciplines">
    <div>
        <h3>Available problems (click to select):</h3>
        <ol>
            <li *ngFor="let discipline of availableDisciplines"
                (click)="selectDiscipline(discipline)">
                {{discipline.name}}
            </li>
        </ol>
    </div>
</div>

<div *ngIf="showDisciplines">
    <button (click)="save()">Save</button>
</div>