<h1>{{title}}</h1>
<nav>
    <a routerLink="/students" routerLinkActive="active">Students</a>
    <a routerLink="/disciplines" routerLinkActive="active">Problems</a>
    <a routerLink="/enroll" routerLinkActive="active">Problem assignment</a>
    <a routerLink="/grades" routerLinkActive="active">Problem grades</a>
</nav>

<router-outlet></router-outlet>